---
import Layout from '../layouts/layout.astro';
import Features from '../components/features.astro';
import { Picture } from '@astrojs/image/components';
import appImg from '/public/rolodex_contact.png';
import grphImg from '/public/rolodex_graph.png'
---

<Layout title="Rolodex Landing Page">
  <main class="mx-auto w-2/3 antialiased flex justify-center items-center text-center">
    <div>
      <div class="grid lg:grid-cols-2 md:my-16">
        <div class="text-start space-y-4 flex flex-col justify-evenly">
          <p class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">Build better relationships</p>
          <p class="text-xl text-slate-600">Visualise your network and surface organic actions with your connections.</p>
          <form class="flex flex-row gap-1 md:gap-4 justify-between items-center" action="https://app.convertkit.com/forms/5424693/subscriptions" method="post" data-sv-form="5424693" data-uid="a0e10ab72a">
            <input class="w-3/4 text-black bg-slate-100 focus:ring-2 focus:outline-none focus:ring-slate-500 font-medium rounded-lg text-sm py-3.5 text-center md:mr-0" type="email" value="" name="email_address" placeholder="Email Address" id="email" required>
            <button type="submit" class="bg-black text-white font-medium rounded-lg text-sm px-2.5 md:px-5 py-2 md:py-2.5 text-center md:mr-0">Join Waitlist</button>
          </form>
        </div>
        <div class="flex flex-row justify-center space-x-2 hidden md:flex">
          <Picture
            src={appImg}
            widths={[50, 100, 200]}
            sizes="(max-width: 200px) 100vw, 200px"
            alt="descriptive text"
          />
          <Picture
            src={grphImg}
            widths={[50, 100, 200]}
            sizes="(max-width: 200px) 100vw, 200px"
            alt="descriptive text"
          />
        </div>
      </div>
      <Features />
    </div>
  </main>
</Layout>
