---
import { Icon } from "astro-icon";

const features = [
  {
    title: "Get In Touch",
    description:
    "Lightning fast contextual search on your network, filter by city and other tags.",
    icon: "bx:bxs-search",
  },
  {
    title: "Keep in Touch",
    description:
    "Set reminders, cadences, nudges and schedule meetings.",
    icon: "bx:bxs-comment-check",
  },
  {
    title: "Engage",
    description:
    "Make introductions between connections and get introduced through mutuals",
    icon: "bx:bxs-conversation",
  },
];
---

<div class="mt-16 md:mt-8">
  <h2 class="text-3xl lg:text-4xl font-bold lg:tracking-tight">
    Rolo/dex is a local-first personal relationship manager
  </h2>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
