---
import { Icon } from "astro-icon";

const features = [
  {
    title: "Keep In Touch",
    description:
    "Set reminders, cadences, nudges and schedule meetings.",
    icon: "bx:bxs-comment-check",
  },
  {
    title: "Grow & Manage Your Network",
    description:
    "Customize contact card with notes & tags, introduce & get introduced to mutual connections, ",
    icon: "bx:bxs-notepad",
  },
  {
    title: "Search & Filters",
    description:
    "Lightning fast & contexutal search on your network, filter by properties like geography, hiring",
    icon: "bx:bxs-search",
  },
];
---

<div class="mt-16 md:mt-8">
  <h2 class="text-3xl lg:text-4xl font-bold lg:tracking-tight">
    Relationship management the way you wanted
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Rolodex comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
